@import url("../../App.module.css");

.delete,
.edit {
  cursor: pointer;
  font-size: 1.5em;
}

.delete:hover {
  color: #b20303;
}

.edit:hover {
  color: #d27604;
}

.action {
  display: flex;
  justify-content: left;
  gap: 30px;
}
