@import url("../../App.module.css");

.container {
  display: grid;
  grid-template-columns: minmax(300px, 2fr);
  justify-content: center;
  align-items: center;
}

.menu,
.menudark {
  grid-row: 1;
  grid-column: 1;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  z-index: 10000;
}

.menudark {
  color: var(--light-text);
}

.theme {
  grid-column: 2;
  justify-self: end;
  cursor: pointer;
  margin: 10px 10px 0px 0px;
  font-size: 30px;
}

.drawer {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  background-color: var(--dark-background);
}
