@import url("../../App.module.css");
.light,
.dark {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  border: var(--light-text) 1px solid;
  border-radius: 5px;
}

.light {
  color: var(--light-background);
  border: var(--light-background) 1px solid;
}
