:root {
  --dark-background: #171923;
  --dark-text: #4fd1c5;
  --light-background: #dbe0e6;
  --light-text: #2c7a7b;
}

.light,
.dark {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.dark {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

.light {
  background-color: var(--light-background);
  color: var(--light-text);
}
